config_settings.py
__pycache__/
.Python
env/
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
local_settings.py
instance/
.env
.venv
env/
venv/
