<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">
    <nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#page-top">YFAI</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#process">Getting Started</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#testimonials">Clients</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Connect</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background: url(&quot;assets/img/frontpage2.png&quot;) bottom;">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><span style="font-size: 40px;background: #343a40;">WELCOME TO YFAI</span></div>
                <div class="intro-heading text-uppercase"><span>Pairing YOUR BUSINESS WITH TESTED ai tOOLS&nbsp;</span></div><a class="btn btn-primary btn-xl text-uppercase" role="button" href="#services">Tell mE more</a>
            </div>
        </div>
    </header>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Services</h2>
                    <h3 class="text-muted section-subheading">More details will be given during the onboarding process.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fab fa-jenkins fa-stack-1x fa-inverse" style="font-size: 80px;"></i></span>
                    <h4 class="section-heading">GPT Assistants</h4>
                    <p class="text-muted">Create intelligent chatbots and integrate them seamlessly on to your website with custom business knowledge.&nbsp;</p>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-laptop fa-stack-1x fa-inverse" style="font-size: 72px;"></i></span>
                    <h4 class="section-heading">Workflow Automation</h4>
                    <p class="text-muted">Mundane technological tasks can be automated through the use of existing AI tools that can be integrate into your existing workflow.&nbsp;</p>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-feed fa-stack-1x fa-inverse" style="font-size: 78px;"></i></span>
                    <h4 class="section-heading">Custom Solutions</h4>
                    <p class="text-muted">Back-end related tasks can be completed, such as Shopify app implementation or creating the foundation of your data analytics.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading"><strong><span style="background-color: rgb(248, 249, 250);">ONBOARDING PROCESS</span></strong></h2>
                    <h3 class="text-muted section-subheading"><span style="color: var(--bs-secondary-color); background-color: rgb(248, 249, 250);">Efficiency is at the heart of our mission, and we focus on this from the start.</span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group timeline">
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/coffee.jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 style="font-style: italic;">FIRST DATE</h4>
                                    <h4 class="subheading">See If We Are A Good Fit</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As much as we're sure you'd love to talk to us all day, your busy. We get it. As a business owner you probably want to make the most of your time and so in the beginning, we can have a quick 15 minute call to see if your needs and our abilities align. Questions about anything related are recommended.&nbsp;</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/group.jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 style="font-style: italic;">LETS TAKE IT FORWARD</h4>
                                    <h4 class="subheading">Learn More About Your Business</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The second call is longer, usually about 30 minutes and here we learn more about your business and all of its various process. We discuss&nbsp; your pain points and suggest some ideas depending on the complexity. At the end we have notes on your business and what you want, allowing us to formulate solutions for our next call.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/datashow.jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 style="font-style: italic;">ITS GETTING SERIOUS</h4>
                                    <h4 class="subheading">Explain Your Custom Solutions And Commit</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Here we explain the solution plan we created for your business and give you an idea of what your monthly expenses would be (for the usage of the existing AI tools and services). If you want to proceed to the last phase, a portion of the agreed upon payment will need to be completed.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/handshake%20(2).jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 style="font-style: italic;">PARTNERS IN SUCCESS</h4>
                                    <h4 class="subheading">Solutions Fully Implented</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We've implemented the agreed upon solutions/services and your satisfied with the result. We can edit minor changes if need be. You then complete the remainder of the agreed upon payment and we discuss next steps if any.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image">
                                <h4>Schedule<br>a<br>Date</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">About</h2>
                    <h3 class="text-muted section-subheading"><strong><span style="color: rgb(47, 42, 83); background-color: rgb(255, 255, 255);">“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”</span></strong><span style="color: rgb(47, 42, 83); background-color: rgb(255, 255, 255);">— Albert Einstein</span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal1" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/portfolio/2-thumbnail.jpg">
                    </a>
                    <div class="portfolio-caption">
                        <h4>YFAI</h4>
                        <p class="text-muted">What it's all about</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal2" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/portfolio/4-thumbnail.jpg">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Origins</h4>
                        <p class="text-muted">Why it started</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal3" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/portfolio/5-thumbnail.jpg">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Developer</h4>
                        <p class="text-muted">Personal Resume</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/team/1.jpg">
                        <h4>Laura Kottke</h4>
                        <p class="text-muted">Shopify App Implementation</p>
                        <p>"Elmer was very patient with me and took his time to explain how I could use the app on my shopify without him."</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/team/2.jpg">
                        <h4>Rafael Mercado</h4>
                        <p class="text-muted">Inventory Management</p>
                        <p>"He set up my inventory so that I wouldn't have to update how much I had by hand anymore and now I am making my own charts with google sheets."</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/team/3.jpg">
                        <h4>You</h4>
                        <p class="text-muted">Your Choice of Service</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" style="background-image:url('assets/img/map-image.png');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Contact Me</h2>
                    <h3 class="text-muted section-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="contactForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3"><input class="form-control" type="text" id="name" placeholder="Your Name *" required=""><small class="form-text text-danger flex-grow-1 lead"></small></div>
                                <div class="form-group mb-3"><input class="form-control" type="email" id="email" placeholder="Your Email *" required=""><small class="form-text text-danger lead"></small></div>
                                <div class="form-group mb-3"><input class="form-control" type="tel" placeholder="Your Phone *" required=""><small class="form-text text-danger lead"></small></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3"><textarea class="form-control" id="message" placeholder="Your Message *" required=""></textarea><small class="form-text text-danger lead"></small></div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div><button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright&nbsp;© YFAI 2023</span></div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/elmer-flores-02a7091b0/"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="privacy-policy.html" target="_blank">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="terms-of-use.html" target="_blank">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">yfai</h2>
                                <p class="text-muted item-intro">Your Friend Artificial Intelligence</p><img class="img-fluid d-block mx-auto" src="assets/img/portfolio/2-thumbnail.jpg">
                                <p>YFAI is an automation agency created with the user in mind. We integrate AI tools and automation techniques into your business with the goal of boosting efficiency, cutting cost, and adding value to your business infrastructure. We strive to be straightforward with out clients so that they can understand what it is they are paying for and how they will benefit.</p>
                                <ul class="list-unstyled"></ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal2">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Origins</h2>
                                <p class="text-muted item-intro">The inspiration behind YFAI</p><img class="img-fluid d-block mx-auto" src="assets/img/portfolio/4-full.jpg">
                                <p>Long is the story that AI will take away many jobs and then control the world. I say let it! The first part that is. While working on completing my Bachelors of Science in Computer Science, one of my professors was discussing an articles about AI and automation. Being ever so interested in the topic I gave it all my attention. The article discussed that AI is getting better and better and that while it may take away many jobs, it would create many more. I think being the IT nerd in the family made the idea of YFAI come to me instantly. I came to enjoy helping out my parents with tech related tasks and I approach helping out businesses in the same manner.</p><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal3">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Elmer</h2>
                                <p class="text-muted item-intro">2+ years of experience</p><img class="img-fluid d-block mx-auto" src="assets/img/portfolio/5-full.jpg">
                                <p>Experienced AI Business Integration Specialist with a focus on back-end development. I am expanding my knowledge set of creating custom AI through personal projects. Working towards becoming an AI developer and create AI with specialized custom use cases. Always looking for people to connect with and learn from.</p>
                                <ul class="list-unstyled">
                                    <li style="padding-bottom: 20px;"><button class="btn btn-primary" type="button" style="background-color: #0077b5;"><a href="https://www.linkedin.com/in/elmer-flores-02a7091b0/"><i class="fab fa-linkedin" style="font-size: 40px;color: rgb(255,255,255);"></i></a></button></li>
                                    <li style="padding-bottom: 40px;"><button class="btn btn-primary" type="button" style="background: var(--bs-btn-disabled-color);"><a href="https://github.com/elmercodes"><i class="fab fa-github" style="font-size: 40px;color: rgb(255,255,255);"></i></a></button></li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/agency.js"></script>
</body>

</html>